In [86]:
import pandas as pd
import datetime
# Read the Excel file into a Pandas DataFrame, skipping the header rows
df = pd.read_excel('Excel\MISIONES AGOSTO.xls', skiprows=2)

In [82]:
# Define the target month and year
target_month = 8  # August
target_year = 2023

# Create a date range for the entire month of August
start_date = datetime.date(target_year, target_month, 1)
end_date = datetime.date(target_year, target_month, 31)
date_range = pd.date_range(start_date, end_date)

# Group the data by 'C.I' (individual identifier)
grouped = df.groupby('User ID')

# List to store modified DataFrames for each individual
modified_dfs = []

# Iterate through each group (individual) and ensure working dates in August
for name, group in grouped:
    # Filter records for the target month and year
    group = group[(group['Date'].dt.month == target_month) & (group['Date'].dt.year == target_year)]
    
    # Create a DataFrame with the complete date range for August
    complete_dates = pd.DataFrame({'Date': date_range})
    
    # Merge the complete date range with the individual's records
    merged_group = complete_dates.merge(group, on='Date', how='left')
    
    # Append the modified DataFrame to the list
    modified_dfs.append(merged_group)

# Concatenate the modified DataFrames for all individuals
result_df = pd.concat(modified_dfs, ignore_index=True)

# Print the final result
result_df.head(50)

         Date    User ID           Name Department     01     02
0  2023-08-01        NaN            NaN        NaN    NaN    NaN
1  2023-08-02        NaN            NaN        NaN    NaN    NaN
2  2023-08-03        NaN            NaN        NaN    NaN    NaN
3  2023-08-04        NaN            NaN        NaN    NaN    NaN
4  2023-08-05        NaN            NaN        NaN    NaN    NaN
5  2023-08-06        NaN            NaN        NaN    NaN    NaN
6  2023-08-07        NaN            NaN        NaN    NaN    NaN
7  2023-08-08   937241.0  CARMEN CORREA   MISIONES  07:00  15:02
8  2023-08-09   937241.0  CARMEN CORREA   MISIONES  06:55  15:05
9  2023-08-10   937241.0  CARMEN CORREA   MISIONES  06:54  17:01
10 2023-08-11   937241.0  CARMEN CORREA   MISIONES  07:03  15:15
11 2023-08-12        NaN            NaN        NaN    NaN    NaN
12 2023-08-13        NaN            NaN        NaN    NaN    NaN
13 2023-08-14        NaN            NaN        NaN    NaN    NaN
14 2023-08-15        NaN            NaN        NaN    NaN    NaN
15 2023-08-16   937241.0  CARMEN CORREA   MISIONES  06:56  14:59
16 2023-08-17   937241.0  CARMEN CORREA   MISIONES  06:50    NaN
17 2023-08-18   937241.0  CARMEN CORREA   MISIONES  06:57  15:00
18 2023-08-19        NaN            NaN        NaN    NaN    NaN
19 2023-08-20        NaN            NaN        NaN    NaN    NaN
20 2023-08-21   937241.0  CARMEN CORREA   MISIONES  06:56  15:04
21 2023-08-22   937241.0  CARMEN CORREA   MISIONES  06:51  15:02
22 2023-08-23   937241.0  CARMEN CORREA   MISIONES  06:59    NaN
23 2023-08-24   937241.0  CARMEN CORREA   MISIONES  07:00  16:59
24 2023-08-25   937241.0  CARMEN CORREA   MISIONES  06:48  15:03
25 2023-08-26        NaN            NaN        NaN    NaN    NaN
26 2023-08-27        NaN            NaN        NaN    NaN    NaN
27 2023-08-28   937241.0  CARMEN CORREA   MISIONES  06:49  15:01
28 2023-08-29        NaN            NaN        NaN    NaN    NaN
29 2023-08-30   937241.0  CARMEN CORREA   MISIONES  06:52  15:04
30 2023-08-31   937241.0  CARMEN CORREA   MISIONES  06:49  16:55
31 2023-08-01        NaN            NaN        NaN    NaN    NaN
32 2023-08-02        NaN            NaN        NaN    NaN    NaN
33 2023-08-03        NaN            NaN        NaN    NaN    NaN
34 2023-08-04        NaN            NaN        NaN    NaN    NaN
35 2023-08-05        NaN            NaN        NaN    NaN    NaN
36 2023-08-06        NaN            NaN        NaN    NaN    NaN
37 2023-08-07        NaN            NaN        NaN    NaN    NaN
38 2023-08-08  1110213.0  MAMERTA LOPEZ   MISIONES  08:52  16:58
39 2023-08-09  1110213.0  MAMERTA LOPEZ   MISIONES  08:44  17:00
40 2023-08-10  1110213.0  MAMERTA LOPEZ   MISIONES  08:59  17:00
41 2023-08-11  1110213.0  MAMERTA LOPEZ   MISIONES  08:49  17:01
42 2023-08-12        NaN            NaN        NaN    NaN    NaN
43 2023-08-13        NaN            NaN        NaN    NaN    NaN
44 2023-08-14  1110213.0  MAMERTA LOPEZ   MISIONES  08:51  16:59
45 2023-08-15        NaN            NaN        NaN    NaN    NaN
46 2023-08-16        NaN            NaN        NaN    NaN    NaN
47 2023-08-17  1110213.0  MAMERTA LOPEZ   MISIONES  09:05    NaN
48 2023-08-18  1110213.0  MAMERTA LOPEZ   MISIONES  08:58    NaN
49 2023-08-19        NaN            NaN        NaN    NaN    NaN

In [83]:
result_df['User ID'] = result_df['User ID'].astype('Int64')
result_df['Date'] = result_df['Date'].dt.date

In [85]:
result_df

            Date  User ID           Name Department     01     02
0     2023-08-01     <NA>            NaN        NaN    NaN    NaN
1     2023-08-02     <NA>            NaN        NaN    NaN    NaN
2     2023-08-03     <NA>            NaN        NaN    NaN    NaN
3     2023-08-04     <NA>            NaN        NaN    NaN    NaN
4     2023-08-05     <NA>            NaN        NaN    NaN    NaN
...          ...      ...            ...        ...    ...    ...
1111  2023-08-27     <NA>            NaN        NaN    NaN    NaN
1112  2023-08-28  4232820  SILVIA OLMEDO   MISIONES  07:16  16:53
1113  2023-08-29  4232820  SILVIA OLMEDO   MISIONES  07:57  16:31
1114  2023-08-30  4232820  SILVIA OLMEDO   MISIONES  07:42  15:59
1115  2023-08-31  4232820  SILVIA OLMEDO   MISIONES  08:05  16:17

[1116 rows x 6 columns]

In [38]:
result_df.to_excel('misiones agosto_espacios.xls', index=False)

C:\Users\Mile\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.7_qbz5n2kfra8p0\LocalCache\local-packages\Python37\site-packages\ipykernel_launcher.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  """Entry point for launching an IPython kernel.