In [4]:
import pandas as pd

# Load the dataset
xls = pd.read_excel('Excel\\ñeembucu agosto.xls', skiprows=2)

# Convert 'Date' column to datetime format
xls['FECHA'] = pd.to_datetime(xls['FECHA'])

# Group the data by 'User ID'
grouped = xls.groupby('C.I')

# List to store modified DataFrames for each individual
modified_dfs = []

# Iterate through each group and forward-fill missing values
for name, group in grouped:
    # Exclude the '01' and '02' columns for forward-filling
    cols_to_fill = [col for col in group.columns if col not in ['ENTRADA', 'SALIDA']]
    
    # Forward-fill missing values for selected columns
    group[cols_to_fill] = group[cols_to_fill].fillna(method='ffill')
    
    # Append the modified DataFrame to the list
    modified_dfs.append(group)

# Concatenate the modified DataFrames for all individuals
result1 = pd.concat(modified_dfs, ignore_index=True)

# Print the final result
result1.head(50)

        FECHA      C.I NOMBRE Y APELLIDO     DPTO. ENTRADA SALIDA
0  2023-08-01   703985      FABIAN OJEDA  ÑEEMBUCU   13:16  16:32
1  2023-08-02   703985      FABIAN OJEDA  ÑEEMBUCU   13:23  16:43
2  2023-08-03   703985      FABIAN OJEDA  ÑEEMBUCU   13:28  16:36
3  2023-08-04   703985      FABIAN OJEDA  ÑEEMBUCU   13:27  16:35
4  2023-08-07   703985      FABIAN OJEDA  ÑEEMBUCU   13:22  16:35
5  2023-08-08   703985      FABIAN OJEDA  ÑEEMBUCU   13:30  16:35
6  2023-08-09   703985      FABIAN OJEDA  ÑEEMBUCU   13:27  16:37
7  2023-08-10   703985      FABIAN OJEDA  ÑEEMBUCU   13:08  16:31
8  2023-08-11   703985      FABIAN OJEDA  ÑEEMBUCU   13:30  16:37
9  2023-08-14   703985      FABIAN OJEDA  ÑEEMBUCU   13:21  16:40
10 2023-08-16   703985      FABIAN OJEDA  ÑEEMBUCU   13:19    NaN
11 2023-08-17   703985      FABIAN OJEDA  ÑEEMBUCU   13:24  16:39
12 2023-08-18   703985      FABIAN OJEDA  ÑEEMBUCU   13:23  16:33
13 2023-08-21   703985      FABIAN OJEDA  ÑEEMBUCU   13:27  16:44
14 2023-08-22   703985      FABIAN OJEDA  ÑEEMBUCU   13:27  16:34
15 2023-08-23   703985      FABIAN OJEDA  ÑEEMBUCU   13:24  16:46
16 2023-08-24   703985      FABIAN OJEDA  ÑEEMBUCU   13:16  16:51
17 2023-08-25   703985      FABIAN OJEDA  ÑEEMBUCU   13:24  16:31
18 2023-08-28   703985      FABIAN OJEDA  ÑEEMBUCU   13:19  16:31
19 2023-08-29   703985      FABIAN OJEDA  ÑEEMBUCU   13:15  16:36
20 2023-08-31   703985      FABIAN OJEDA  ÑEEMBUCU   13:21  16:32
21 2023-08-01  1041313      PABLA MEDINA  ÑEEMBUCU   08:45  17:00
22 2023-08-02  1041313      PABLA MEDINA  ÑEEMBUCU   08:51  17:02
23 2023-08-03  1041313      PABLA MEDINA  ÑEEMBUCU   08:49  17:00
24 2023-08-07  1041313      PABLA MEDINA  ÑEEMBUCU   08:51  17:00
25 2023-08-08  1041313      PABLA MEDINA  ÑEEMBUCU   08:41  17:00
26 2023-08-09  1041313      PABLA MEDINA  ÑEEMBUCU   08:56  17:02
27 2023-08-10  1041313      PABLA MEDINA  ÑEEMBUCU   07:44  17:02
28 2023-08-11  1041313      PABLA MEDINA  ÑEEMBUCU   08:52  17:01
29 2023-08-14  1041313      PABLA MEDINA  ÑEEMBUCU   08:57  17:05
30 2023-08-16  1041313      PABLA MEDINA  ÑEEMBUCU   08:56  17:00
31 2023-08-17  1041313      PABLA MEDINA  ÑEEMBUCU   17:01    NaN
32 2023-08-18  1041313      PABLA MEDINA  ÑEEMBUCU   09:00  17:00
33 2023-08-21  1041313      PABLA MEDINA  ÑEEMBUCU   08:54  17:00
34 2023-08-22  1041313      PABLA MEDINA  ÑEEMBUCU   08:51  17:00
35 2023-08-23  1041313      PABLA MEDINA  ÑEEMBUCU   08:54  17:00
36 2023-08-24  1041313      PABLA MEDINA  ÑEEMBUCU   08:53  17:00
37 2023-08-25  1041313      PABLA MEDINA  ÑEEMBUCU   08:54  17:00
38 2023-08-28  1041313      PABLA MEDINA  ÑEEMBUCU   08:55  17:00
39 2023-08-29  1041313      PABLA MEDINA  ÑEEMBUCU   08:55  17:00
40 2023-08-30  1041313      PABLA MEDINA  ÑEEMBUCU   08:52  17:00
41 2023-08-31  1041313      PABLA MEDINA  ÑEEMBUCU   08:54  17:01
42 2023-08-01  1163681      HILDA CANDIA  ÑEEMBUCU   09:03  17:11
43 2023-08-02  1163681      HILDA CANDIA  ÑEEMBUCU   09:07  17:13
44 2023-08-03  1163681      HILDA CANDIA  ÑEEMBUCU   09:09  17:14
45 2023-08-04  1163681      HILDA CANDIA  ÑEEMBUCU   09:11  17:10
46 2023-08-07  1163681      HILDA CANDIA  ÑEEMBUCU   08:56  17:05
47 2023-08-08  1163681      HILDA CANDIA  ÑEEMBUCU   09:06  17:02
48 2023-08-09  1163681      HILDA CANDIA  ÑEEMBUCU   09:07  17:16
49 2023-08-10  1163681      HILDA CANDIA  ÑEEMBUCU   09:05  17:15

In [3]:
import pandas as pd
import datetime

# Read the Excel file into a Pandas DataFrame, skipping the header rows
df = pd.read_excel('Excel\\ñeembucu agosto.xls', skiprows=2)

# Define the target month and year
target_month = 8  # August
target_year = 2023

# Create a date range for the entire month of August
start_date = datetime.date(target_year, target_month, 1)
end_date = datetime.date(target_year, target_month, 31)
date_range = pd.date_range(start_date, end_date)

# Group the data by 'C.I' (individual identifier)
grouped = df.groupby('C.I')

# List to store modified DataFrames for each individual
modified_dfs = []

# Iterate through each group (individual) and ensure working dates in August
for name, group in grouped:
    # Filter records for the target month and year
    group = group[(group['FECHA'].dt.month == target_month) & (group['FECHA'].dt.year == target_year)]
    
    # Create a DataFrame with the complete date range for August
    complete_dates = pd.DataFrame({'FECHA': date_range})
    
    # Merge the complete date range with the individual's records
    merged_group = complete_dates.merge(group, on='FECHA', how='left')
    
    # Append the modified DataFrame to the list
    modified_dfs.append(merged_group)

# Concatenate the modified DataFrames for all individuals
result_df = pd.concat(modified_dfs, ignore_index=True)

# Print the final result
result_df.head(50)

        FECHA        C.I NOMBRE Y APELLIDO     DPTO. ENTRADA SALIDA
0  2023-08-01   703985.0      FABIAN OJEDA  ÑEEMBUCU   13:16  16:32
1  2023-08-02   703985.0      FABIAN OJEDA  ÑEEMBUCU   13:23  16:43
2  2023-08-03   703985.0      FABIAN OJEDA  ÑEEMBUCU   13:28  16:36
3  2023-08-04   703985.0      FABIAN OJEDA  ÑEEMBUCU   13:27  16:35
4  2023-08-05        NaN               NaN       NaN     NaN    NaN
5  2023-08-06        NaN               NaN       NaN     NaN    NaN
6  2023-08-07   703985.0      FABIAN OJEDA  ÑEEMBUCU   13:22  16:35
7  2023-08-08   703985.0      FABIAN OJEDA  ÑEEMBUCU   13:30  16:35
8  2023-08-09   703985.0      FABIAN OJEDA  ÑEEMBUCU   13:27  16:37
9  2023-08-10   703985.0      FABIAN OJEDA  ÑEEMBUCU   13:08  16:31
10 2023-08-11   703985.0      FABIAN OJEDA  ÑEEMBUCU   13:30  16:37
11 2023-08-12        NaN               NaN       NaN     NaN    NaN
12 2023-08-13        NaN               NaN       NaN     NaN    NaN
13 2023-08-14   703985.0      FABIAN OJEDA  ÑEEMBUCU   13:21  16:40
14 2023-08-15        NaN               NaN       NaN     NaN    NaN
15 2023-08-16   703985.0      FABIAN OJEDA  ÑEEMBUCU   13:19    NaN
16 2023-08-17   703985.0      FABIAN OJEDA  ÑEEMBUCU   13:24  16:39
17 2023-08-18   703985.0      FABIAN OJEDA  ÑEEMBUCU   13:23  16:33
18 2023-08-19        NaN               NaN       NaN     NaN    NaN
19 2023-08-20        NaN               NaN       NaN     NaN    NaN
20 2023-08-21   703985.0      FABIAN OJEDA  ÑEEMBUCU   13:27  16:44
21 2023-08-22   703985.0      FABIAN OJEDA  ÑEEMBUCU   13:27  16:34
22 2023-08-23   703985.0      FABIAN OJEDA  ÑEEMBUCU   13:24  16:46
23 2023-08-24   703985.0      FABIAN OJEDA  ÑEEMBUCU   13:16  16:51
24 2023-08-25   703985.0      FABIAN OJEDA  ÑEEMBUCU   13:24  16:31
25 2023-08-26        NaN               NaN       NaN     NaN    NaN
26 2023-08-27        NaN               NaN       NaN     NaN    NaN
27 2023-08-28   703985.0      FABIAN OJEDA  ÑEEMBUCU   13:19  16:31
28 2023-08-29   703985.0      FABIAN OJEDA  ÑEEMBUCU   13:15  16:36
29 2023-08-30        NaN               NaN       NaN     NaN    NaN
30 2023-08-31   703985.0      FABIAN OJEDA  ÑEEMBUCU   13:21  16:32
31 2023-08-01  1041313.0      PABLA MEDINA  ÑEEMBUCU   08:45  17:00
32 2023-08-02  1041313.0      PABLA MEDINA  ÑEEMBUCU   08:51  17:02
33 2023-08-03  1041313.0      PABLA MEDINA  ÑEEMBUCU   08:49  17:00
34 2023-08-04        NaN               NaN       NaN     NaN    NaN
35 2023-08-05        NaN               NaN       NaN     NaN    NaN
36 2023-08-06        NaN               NaN       NaN     NaN    NaN
37 2023-08-07  1041313.0      PABLA MEDINA  ÑEEMBUCU   08:51  17:00
38 2023-08-08  1041313.0      PABLA MEDINA  ÑEEMBUCU   08:41  17:00
39 2023-08-09  1041313.0      PABLA MEDINA  ÑEEMBUCU   08:56  17:02
40 2023-08-10  1041313.0      PABLA MEDINA  ÑEEMBUCU   07:44  17:02
41 2023-08-11  1041313.0      PABLA MEDINA  ÑEEMBUCU   08:52  17:01
42 2023-08-12        NaN               NaN       NaN     NaN    NaN
43 2023-08-13        NaN               NaN       NaN     NaN    NaN
44 2023-08-14  1041313.0      PABLA MEDINA  ÑEEMBUCU   08:57  17:05
45 2023-08-15        NaN               NaN       NaN     NaN    NaN
46 2023-08-16  1041313.0      PABLA MEDINA  ÑEEMBUCU   08:56  17:00
47 2023-08-17  1041313.0      PABLA MEDINA  ÑEEMBUCU   17:01    NaN
48 2023-08-18  1041313.0      PABLA MEDINA  ÑEEMBUCU   09:00  17:00
49 2023-08-19        NaN               NaN       NaN     NaN    NaN

,Date,User ID,Enrolled No.,Name,Department,01,02,03,04,05,...,55,56,57,58,59,60,61,62,63,64
0,2023-07-03,1041313,1041313,PABLA MEDINA,ÑEEMBUCU,08:56,17:01,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-07-04,1041313,1041313,PABLA MEDINA,ÑEEMBUCU,08:43,17:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-07-05,1041313,1041313,PABLA MEDINA,ÑEEMBUCU,08:52,17:01,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-07-06,1041313,1041313,PABLA MEDINA,ÑEEMBUCU,08:44,17:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-07-07,1041313,1041313,PABLA MEDINA,ÑEEMBUCU,08:54,17:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2023-07-10,1041313,1041313,PABLA MEDINA,ÑEEMBUCU,08:43,17:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2023-07-11,1041313,1041313,PABLA MEDINA,ÑEEMBUCU,06:57,15:01,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2023-07-12,1041313,1041313,PABLA MEDINA,ÑEEMBUCU,15:04,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2023-07-18,1041313,1041313,PABLA MEDINA,ÑEEMBUCU,08:47,17:01,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2023-07-19,1041313,1041313,PABLA MEDINA,ÑEEMBUCU,08:54,17:03,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2023-07-20,1041313,1041313,PABLA MEDINA,ÑEEMBUCU,08:52,17:02,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2023-07-21,1041313,1041313,PABLA MEDINA,ÑEEMBUCU,08:41,17:01,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2023-07-24,1041313,1041313,PABLA MEDINA,ÑEEMBUCU,08:53,17:03,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2023-07-25,1041313,1041313,PABLA MEDINA,ÑEEMBUCU,08:43,17:01,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2023-07-26,1041313,1041313,PABLA MEDINA,ÑEEMBUCU,08:57,17:01,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2023-07-27,1041313,1041313,PABLA MEDINA,ÑEEMBUCU,08:51,17:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2023-07-28,1041313,1041313,PABLA MEDINA,ÑEEMBUCU,08:51,17:01,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2023-07-31,1041313,1041313,PABLA MEDINA,ÑEEMBUCU,08:45,17:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2023-07-10,1163681,1163681,HILDA CANDIA,ÑEEMBUCU,08:53,17:03,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2023-07-11,1163681,1163681,HILDA CANDIA,ÑEEMBUCU,07:06,17:06,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
import pandas as pd

# Assuming your DataFrame is named 'df'
columns_to_drop = [str(i).zfill(2) for i in range(3, 65)]  # Generate column names '03' to '64'

df = xls.drop(columns=columns_to_drop)

# Print the modified DataFrame
df.head(20)

         Date  User ID  Enrolled No.          Name Department     01     02
0  2023-07-03  1041313       1041313  PABLA MEDINA   ÑEEMBUCU  08:56  17:01
1  2023-07-04  1041313       1041313  PABLA MEDINA   ÑEEMBUCU  08:43  17:00
2  2023-07-05  1041313       1041313  PABLA MEDINA   ÑEEMBUCU  08:52  17:01
3  2023-07-06  1041313       1041313  PABLA MEDINA   ÑEEMBUCU  08:44  17:00
4  2023-07-07  1041313       1041313  PABLA MEDINA   ÑEEMBUCU  08:54  17:00
5  2023-07-10  1041313       1041313  PABLA MEDINA   ÑEEMBUCU  08:43  17:00
6  2023-07-11  1041313       1041313  PABLA MEDINA   ÑEEMBUCU  06:57  15:01
7  2023-07-12  1041313       1041313  PABLA MEDINA   ÑEEMBUCU  15:04    NaN
8  2023-07-18  1041313       1041313  PABLA MEDINA   ÑEEMBUCU  08:47  17:01
9  2023-07-19  1041313       1041313  PABLA MEDINA   ÑEEMBUCU  08:54  17:03
10 2023-07-20  1041313       1041313  PABLA MEDINA   ÑEEMBUCU  08:52  17:02
11 2023-07-21  1041313       1041313  PABLA MEDINA   ÑEEMBUCU  08:41  17:01
12 2023-07-24  1041313       1041313  PABLA MEDINA   ÑEEMBUCU  08:53  17:03
13 2023-07-25  1041313       1041313  PABLA MEDINA   ÑEEMBUCU  08:43  17:01
14 2023-07-26  1041313       1041313  PABLA MEDINA   ÑEEMBUCU  08:57  17:01
15 2023-07-27  1041313       1041313  PABLA MEDINA   ÑEEMBUCU  08:51  17:00
16 2023-07-28  1041313       1041313  PABLA MEDINA   ÑEEMBUCU  08:51  17:01
17 2023-07-31  1041313       1041313  PABLA MEDINA   ÑEEMBUCU  08:45  17:00
18 2023-07-10  1163681       1163681  HILDA CANDIA   ÑEEMBUCU  08:53  17:03
19 2023-07-11  1163681       1163681  HILDA CANDIA   ÑEEMBUCU  07:06  17:06

In [8]:
df.to_excel('neembucu.xls', index=False)

C:\Users\Mile\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.7_qbz5n2kfra8p0\LocalCache\local-packages\Python37\site-packages\ipykernel_launcher.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  """Entry point for launching an IPython kernel.

In [21]:
import pandas as pd

# Load the dataset
xls = pd.read_excel('prueba.xls')

# Define columns to split
columns_to_fill = ['User ID', 'Enrolled No.', 'Name', 'Department']

# Create DataFrames for the specified columns, the date index, and the columns '01' and '02'
df_to_fill = xls[columns_to_fill]
# date_index_df = xls[['Date']]
cols_01_02_df = xls[['01', '02']]

# Remove duplicate dates from the date_index_df
date_index_df = date_index_df.drop_duplicates(subset=['Date'])

# Set the 'Date' column as the index for date_index_df
date_index_df.set_index('Date', inplace=True)

# Create a complete date range (Monday to Friday) for the entire period
complete_weekday_range = pd.date_range(start='2023-07-01', end='2023-07-30', freq='B')

# Reindex the date_index_df DataFrame
date_index_df = date_index_df.reindex(complete_weekday_range)

# Forward fill the missing values in the df_to_fill DataFrame
df_to_fill = df_to_fill.fillna(method='ffill')

# Merge the DataFrames back together based on the index
merged_df = pd.concat([date_index_df, df_to_fill, cols_01_02_df], axis=1).reset_index()

# Save the merged DataFrame to a new Excel file
# merged_df.to_excel('merged_prueba.xls', index=False)

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [22]:
merged_df

,index,User ID,Enrolled No.,Name,Department,01,02
0,1970-01-01 00:00:00.000000000,NaN,NaN,NaN,NaN,NaN,NaN
1,1970-01-01 00:00:00.000000001,NaN,NaN,NaN,NaN,NaN,NaN
2,1970-01-01 00:00:00.000000002,NaN,NaN,NaN,NaN,NaN,NaN
3,1970-01-01 00:00:00.000000003,NaN,NaN,NaN,NaN,NaN,NaN
4,1970-01-01 00:00:00.000000004,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
911,2023-07-24 00:00:00.000000000,NaN,NaN,NaN,NaN,NaN,NaN
912,2023-07-25 00:00:00.000000000,NaN,NaN,NaN,NaN,NaN,NaN
913,2023-07-26 00:00:00.000000000,NaN,NaN,NaN,NaN,NaN,NaN
914,2023-07-27 00:00:00.000000000,NaN,NaN,NaN,NaN,NaN,NaN
915,2023-07-28 00:00:00.000000000,NaN,NaN,NaN,NaN,NaN,NaN